# Core functionality - changes here should be rare!
/src/app.py                   @joaoafons0
/src/backend/database.py      @joaoafons0
/src/backend/routers/auth.py  @joaoafons0

# The frontend will need refactored soon to be more object oriented.
/src/static/   @joaoafons0
